.spacer {
  flex: 1 1 auto;
}
.main-content {
  padding: 20px;
  height: calc(100vh - 64px);
  overflow: auto;
}
nav a {
  margin-left: 16px;
}
nav a.active {
  background-color: rgba(255, 255, 255, 0.1);
}
